In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm

import random
import math
from random import sample
import os 
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

from scipy.sparse import coo_matrix, csr_matrix, lil_matrix, vstack, hstack
from scipy import sparse

random.seed(10)

In [2]:
def read_txt(path):
    data_list = []
    with open(path) as f:
        for line in tqdm(f):
            line_data = []
            for word in line.split():
                line_data.append(float(word))
            data_list.append(line_data)
    return data_list

In [3]:
# import os


# path = 'C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/'
# files = os.listdir(path)

# for filename in files:
#     portion = os.path.splitext(filename)
#     # 如果后缀是.dat
#     if portion[1] == ".dat":  
#         # 重新组合文件名和后缀名
#         newname = portion[0] + ".txt"   
#         os.rename(os.path.join(path, filename),os.path.join(path, newname))

In [26]:
user_book = read_txt('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_book.txt')
user_book = pd.DataFrame(np.array(user_book).astype(int))
user_book.columns = ['user', 'book', 'rate']
user_book = user_book.groupby("user").filter(lambda x: len(x) >= 3)

user_book.index = user_book.reset_index().index
user_label = preprocessing.LabelEncoder()
book_label = preprocessing.LabelEncoder()

user_book.user = user_label.fit_transform(user_book.user.values)
user_book.book = book_label.fit_transform(user_book.book.values)

user_list = user_book.user.value_counts().index.to_numpy()
user_list = np.sort(user_list)

book_list = user_book.book.value_counts().index.to_numpy()
book_list = np.sort(book_list)

792062it [00:01, 663386.52it/s]

In [27]:
user_user = read_txt('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_user.txt')
user_user = pd.DataFrame(np.array(user_user).astype(int))
user_user.columns = ['user1', 'user2']
user_user = user_user[user_user.user1.isin(user_label.classes_) & user_user.user2.isin(user_label.classes_)]

user_user.user1 = user_label.transform(user_user.user1.values)
user_user.user2 = user_label.transform(user_user.user2.values)

169150it [00:00, 948293.22it/s]

In [28]:
user_group = read_txt('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_group.txt')
user_group = pd.DataFrame(np.array(user_group).astype(int))
user_group.columns = ['user', 'group']
user_group = user_group[user_group.user.isin(user_label.classes_)]

group_label = preprocessing.LabelEncoder()
user_group.group  = group_label.fit_transform(user_group.group.values)
user_group.user  = user_label.transform(user_group.user.values)

group_list = user_group.group.value_counts().index.to_numpy()
group_list = np.sort(group_list)

1189271it [00:01, 799384.12it/s]

In [29]:
user_location = read_txt('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_location.txt')
user_location = pd.DataFrame(np.array(user_location).astype(int))
user_location.columns = ['user', 'location']
user_location = user_location[user_location.user.isin(user_label.classes_)]

location_label = preprocessing.LabelEncoder()
user_location.location  = location_label.fit_transform(user_location.location.values)
user_location.user  = user_label.transform(user_location.user.values)

location_list = user_location.location.value_counts().index.to_numpy()
location_list = np.sort(location_list)

10592it [00:00, 1016452.01it/s]

In [30]:
book_author = read_txt('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/book_author.txt')
book_author = pd.DataFrame(np.array(book_author).astype(int))
book_author.columns = ['book', 'author']
book_author = book_author[book_author.book.isin(book_label.classes_)]

author_label = preprocessing.LabelEncoder()
book_author.author  = author_label.fit_transform(book_author.author.values)
book_author.book  = book_label.transform(book_author.book.values)

author_list = book_author.author.value_counts().index.to_numpy()
author_list = np.sort(author_list)

21907it [00:00, 1043088.44it/s]

In [31]:
book_publisher = read_txt('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/book_publisher.txt')
book_publisher = pd.DataFrame(np.array(book_publisher).astype(int))
book_publisher.columns = ['book', 'publisher']
book_publisher = book_publisher[book_publisher.book.isin(book_label.classes_)]

publisher_label = preprocessing.LabelEncoder()
book_publisher.publisher  = publisher_label.fit_transform(book_publisher.publisher.values)
book_publisher.book  = book_label.transform(book_publisher.book.values)

publisher_list = book_publisher.publisher.value_counts().index.to_numpy()
publisher_list = np.sort(publisher_list)

21773it [00:00, 763496.51it/s]

In [32]:
book_year = read_txt('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/book_year.txt')
book_year = pd.DataFrame(np.array(book_year).astype(int))
book_year.columns = ['book', 'year']
book_year = book_year[book_year.book.isin(book_label.classes_)]

year_label = preprocessing.LabelEncoder()
book_year.year  = year_label.fit_transform(book_year.year.values)
book_year.book  = book_label.transform(book_year.book.values)

year_list = book_year.year.value_counts().index.to_numpy()
year_list = np.sort(year_list)

21192it [00:00, 963029.43it/s]

In [33]:
user_book.reset_index().to_feather('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_book.ftr')
user_user.reset_index().to_feather('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_user.ftr')
user_group.reset_index().to_feather('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_group.ftr')
user_location.reset_index().to_feather('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_location.ftr')
book_author.reset_index().to_feather('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/book_author.ftr')
book_year.reset_index().to_feather('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/book_year.ftr')
book_publisher.reset_index().to_feather('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_book.ftr')

In [34]:
n_users = user_list.shape[0]
n_books = book_list.shape[0]
n_groups = group_list.shape[0]
n_locations = location_list.shape[0]
n_authors = author_list.shape[0]
n_years = year_list.shape[0]
n_publishers = publisher_list.shape[0]

In [39]:
b_a_dict = {}
for b in tqdm(book_list):
    if b in book_author.book.values:
        b_a = book_author[book_author.book == b].author.values[0]
        b_a_dict[b] = b_a
    else:
        b_a_dict[b] = n_authors
        
author = []

for b in tqdm(user_book.book):
    author.append(b_a_dict[b])

100%|██████████████████████████████████████████████████████████████████████████| 22347/22347 [00:05<00:00, 3907.47it/s]
100%|█████████████████████████████████████████████████████████████████████| 790197/790197 [00:00<00:00, 1828974.32it/s]

In [40]:
b_p_dict = {}
for b in tqdm(book_list):
    if b in book_publisher.book.values:
        b_p = book_publisher[book_publisher.book == b].publisher.values[0]
        b_p_dict[b] = b_p
    else:
        b_p_dict[b] = n_publishers
        
publisher = []

for b in tqdm(user_book.book):
    publisher.append(b_p_dict[b])

100%|██████████████████████████████████████████████████████████████████████████| 22347/22347 [00:05<00:00, 4061.72it/s]
100%|█████████████████████████████████████████████████████████████████████| 790197/790197 [00:00<00:00, 1949327.44it/s]

In [42]:
b_y_dict = {}
for b in tqdm(book_list):
    if b in book_year.book.values:
        b_y = book_year[book_year.book == b].year.values[0]
        b_y_dict[b] = b_y
    else:
        b_y_dict[b] = n_years
        
year = []

for b in tqdm(user_book.book):
    year.append(b_y_dict[b])

100%|██████████████████████████████████████████████████████████████████████████| 22347/22347 [00:06<00:00, 3529.56it/s]
100%|█████████████████████████████████████████████████████████████████████| 790197/790197 [00:00<00:00, 1770688.24it/s]

In [45]:
u_l_dict = {}
for u in tqdm(user_list):
    if u in user_location.user.values:
        u_l = user_location[user_location.user == u].location.values[0]
        u_l_dict[u] = u_l
    else:
        u_l_dict[u] = n_locations
        
location = []

for u in tqdm(user_book.user):
    location.append(u_l_dict[u])

100%|██████████████████████████████████████████████████████████████████████████| 11699/11699 [00:02<00:00, 4227.86it/s]
100%|█████████████████████████████████████████████████████████████████████| 790197/790197 [00:00<00:00, 1647279.54it/s]

In [53]:
u_g_dict = {}
for u in tqdm(user_list):
    if u in user_group.user.values:
        u_g = user_group[user_group.user == u].group.values
        u_g_dict[u] = np.sort(u_g)
    else:
        u_g_dict[u] = [n_groups]
group = []

for u in tqdm(user_book.user):
    group.append(u_g_dict[u])

100%|███████████████████████████████████████████████████████████████████████████| 11699/11699 [00:34<00:00, 342.23it/s]
100%|█████████████████████████████████████████████████████████████████████| 790197/790197 [00:00<00:00, 1747690.99it/s]

In [48]:
u_u_dict = {}
for u in tqdm(user_list):
    if u in user_user.user1.values:
        u_u = user_user[user_user.user1 == u].user2.values
        u_u_dict[u] = np.sort(u_u)
    else:
        u_u_dict[u] = [n_users]
user = []

for u in tqdm(user_book.user):
    user.append(u_u_dict[u])

100%|██████████████████████████████████████████████████████████████████████████| 11699/11699 [00:05<00:00, 1976.94it/s]
100%|█████████████████████████████████████████████████████████████████████| 790197/790197 [00:00<00:00, 1684564.34it/s]

In [54]:
user_book['author'] = author
user_book['publisher'] = publisher
user_book['year'] = year
user_book['location'] = location
user_book['user_inter'] = user
user_book['group'] = group

In [55]:
user_book.reset_index().to_feather('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/user_book_fea.ftr')

In [56]:
user_book

,user,book,rate,author,publisher,year,location,user_inter,group
0,9756,937,4,4386,943,19,32,"[181, 769, 841, 1833, 1861, 2164, 3589, 3890, ...","[0, 1, 2, 3, 7, 8, 9, 10, 13, 14, 23, 27, 28, ..."
1,9019,2,3,9485,1742,13,377,"[5301, 8480, 11271]","[0, 3, 5, 6, 8, 9, 10, 13, 15, 18, 19, 25, 26,..."
2,672,2425,5,10547,1474,20,12,"[645, 1139, 1364, 1547, 1677, 2322, 3612, 4141...","[0, 1, 4, 7, 10, 11, 18, 20, 22, 23, 25, 26, 2..."
3,407,1262,4,10313,430,34,32,"[1625, 1637, 1806, 1823, 1918, 2453, 3028, 323...","[0, 12, 14, 17, 38, 46, 65, 68, 69, 74, 86, 99..."
4,10482,7716,5,5719,1048,17,436,"[1313, 5030, 7523]","[0, 1, 2, 5, 6, 7, 8, 9, 13, 15, 20, 21, 23, 2..."
...,...,...,...,...,...,...,...,...,...
790192,11524,2649,5,10650,1272,35,32,"[3092, 4085, 5932, 6090, 9375, 9961]","[0, 3, 6, 9, 13, 46, 52, 57, 63, 76, 84, 86, 8..."
790193,7041,3049,4,7194,1330,7,396,"[404, 3595, 3986, 4983, 5347, 5674, 6268, 7464...","[0, 1, 4, 6, 8, 12, 13, 14, 21, 24, 25, 39, 42..."
790194,8418,18016,5,5242,1768,17,12,"[311, 1139, 3564, 3971, 5254, 5978, 6894, 7631...","[0, 1, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 20, ..."
790195,9832,1442,4,8377,1791,19,358,"[115, 351, 3023, 3971, 4276, 6567, 6894, 8099,...","[0, 1, 2, 4, 5, 7, 8, 9, 10, 13, 17, 18, 19, 2..."
790196,4655,771,3,4358,1742,46,358,"[1168, 1540, 5190, 6632, 6821, 7508, 8703, 922...","[0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 13, 15, 16, 18..."

In [57]:
group_mat = lil_matrix((user_book.shape[0], (n_groups+1)), dtype=int)
for ind in tqdm(user_book.index.to_numpy()):
    group_mat[ind, user_book.group[ind]] = 1
    
group_mat = group_mat.tocsr()

100%|███████████████████████████████████████████████████████████████████████| 790197/790197 [00:52<00:00, 15073.67it/s]

In [58]:
ui_mat = lil_matrix((user_book.shape[0], (n_users+1)), dtype=int)
for ind in tqdm(user_book.index.to_numpy()):
    ui_mat[ind, user_book.user_inter[ind]] = 1
    
ui_mat = ui_mat.tocsr()

100%|███████████████████████████████████████████████████████████████████████| 790197/790197 [00:46<00:00, 16973.40it/s]

In [63]:
row  = user_book.user.index.to_numpy()
data = np.ones(user_book.shape[0]).astype(int)

col  = user_book.user.values
user_mat = csr_matrix((data, (row, col)), shape=(user_book.shape[0], n_users))

col  = user_book.book.values
book_mat = csr_matrix((data, (row, col)), shape=(user_book.shape[0], n_books))

col  = user_book.author.values
author_mat = csr_matrix((data, (row, col)), shape=(user_book.shape[0], (n_authors+1)))

col  = user_book.publisher.values
publisher_mat = csr_matrix((data, (row, col)), shape=(user_book.shape[0], (n_publishers+1)))

col  = user_book.year.values
year_mat = csr_matrix((data, (row, col)), shape=(user_book.shape[0], (n_years+1)))

col  = user_book.location.values
location_mat = csr_matrix((data, (row, col)), shape=(user_book.shape[0], (n_locations+1)))

In [64]:
ub_fea_mat = hstack([user_mat, book_mat, author_mat, publisher_mat, year_mat, location_mat, ui_mat, group_mat])
ub_fea_mat = ub_fea_mat.tocsr()
sparse.save_npz('C:/Users/bbb50/Desktop/Python/hw3/DoubanBook/ub_fea_mat.npz', ub_fea_mat, True)

In [66]:
root = 'C:/Users/bbb50/Desktop/Python/hw3/DoubanBook'

train_val_list, test_list = [], []
test_ind_list = []

skf = StratifiedKFold(n_splits=5)
ub_i = user_book.index.to_numpy()

for train_index, test_index in skf.split(ub_i, user_book.user.to_numpy()):
    train, test =ub_i[train_index], ub_i[test_index]
    test_ind_list.append(test_index)
    train_val_list.append(user_book.loc[train])
    test_list.append(user_book.loc[test])
    
train_list, val_list = [], []
train_ind_list, val_ind_list = [], []

for df in train_val_list:
    train_ind, val_ind, _ , _ = train_test_split(df.index.to_numpy(), df.user.to_numpy(), stratify = df.user.to_numpy(), test_size = 1/8)
    
    val_list.append(df.loc[val_ind])
    train_list.append(df.loc[train_ind])    

    val_ind_list.append(val_ind)
    train_ind_list.append(train_ind)

C:\Users\bbb50\anaconda3\envs\graph\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"

In [67]:
sub_dir =  os.path.join(root, 'train')
if not(os.path.isdir(sub_dir)):
    os.makedirs(sub_dir)
for i, ind in enumerate(train_ind_list):
    
    path = os.path.join(sub_dir, 'train_ind'+str(i)+'.npy')
    np.save(path, ind)

sub_dir =  os.path.join(root, 'test')
if not(os.path.isdir(sub_dir)):
    os.makedirs(sub_dir)
for i, ind in enumerate(test_ind_list):
    
    path = os.path.join(sub_dir, 'test_ind'+str(i)+'.npy')
    np.save(path, ind)
    
sub_dir =  os.path.join(root, 'val')
if not(os.path.isdir(sub_dir)):
    os.makedirs(sub_dir)
for i, ind in enumerate(val_ind_list):
    
    path = os.path.join(sub_dir, 'val_ind'+str(i)+'.npy')
    np.save(path, ind)